@import "../../bower_components/susy/sass/susy";
$primary-color: #ecf0f1;

$susy: (
  columns: 12,
  container: 1200px,
  gutters: 1/4,
  global-box-sizing: border-box,
  debug: (image: show)
);

.poke-content {

}
